.cover {
  .purchase-info {
    position: relative;
    color: #F2994A;
    font-weight: 700;
    font-size: 1.05rem;
    margin-top: -63px;
    margin-left: 160px;
  }
  .purchase-line-two {
    border-top: 8px solid #ed7b17;
    border-radius: 1px;
    width: 46%;
    margin-left: 146px;
    position: absolute;
    margin-top: -31px;
    border-radius: 7px;
  }
  .card {
    width: 200%;
    height: 44vh;
    margin-top: 20px;
    border-radius: 16px;
    position: absolute;
    box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
    .head {
      display: flex;
      justify-content: space-around;
      background: #2F80ED;
      height: 5vh;
      color: white;
      font-weight: 700;
      padding-top: 15px;
      border-radius: 16px 14px 0px 0px;
      .name {
        margin-right: 75px;
        margin-left: -10px;
      }
    }
    .body {
      background-color: white;
      height: 36.5vh;
      border-radius: 0px 0px 16px 14px;
      .row1 {
        display: flex;
        padding-top: 40px;
        justify-content: space-around;
        .data {
        margin-left: 1px;
        }
      }
      .row2 {
        display: flex;
        padding-top: 30px;
        justify-content: space-around;
        margin-left: 1px;
        .ship {
        margin-right: 144px;
        }
      }
      .line {
        border-bottom: 1px solid #817E9E;
        width: 90%;
        margin-left: 23px;
        margin-top: 30px;
        position: absolute;
      }
      .total {
        display: flex;
        border: 1px solid #817E9E;
        border-radius: 5px;
        margin-top: 58px;
        width: 90%;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 22px;
        .letter {
        margin-right: 170px;
        }
      }
    }
  }
  .purchase-bottom {
    position: absolute;
    margin-top: 350px;
    display: flex;
    padding-bottom: 90px;
    .purchase-button {
      background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
      border-radius: 10px;
      padding: 12px 68px 12px 68px;
      color: white;
      cursor: pointer;
      font-weight: 700;
      border: none;
      outline: none;
    }
    .purchase-cancel {
      margin-top: 11px;
      color: #4E598C;
      font-weight: 700;
      margin-left: 50px;
      width: 105%;
      cursor: pointer;
    }
    .cancel-link {
      text-decoration: none;
    }
  }
} 